body{
    background-color: rgb(197, 28, 28);
    
    
}
.navbar-logo{
    padding: 10px; 
    margin: 10px; 
    border: 2px solid rgb(244, 240, 240); 
    float: right; 
    width: 250px;
    
  }
input {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
  }

h1{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    

}
h4{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}